<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{user}}</a>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-center bg-light">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Hello, {{user}}</h1>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light text-center" style="margin-top:20%">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p class="lead mb-0">Ut pretium turpis vitae nunc bibendum sodales. Phasellus sed lectus pharetra lacus
                    porttitor consequat et vitae ante. Aenean suscipit enim in tortor egestas, ac tincidunt nunc
                    condimentum. Aenean dapibus mauris nec turpis dictum, at dictum libero maximus. Proin ut aliquam
                    nibh. Aliquam quis feugiat magna. Integer a nulla ac ligula feugiat placerat. Nam id libero leo.

                    Morbi et leo laoreet, tristique lectus nec, condimentum eros. Duis eu nulla leo. Nam eleifend
                    ullamcorper justo, nec convallis velit cursus in. Fusce sed ligula finibus, bibendum neque at,
                    aliquam mi. Mauris urna metus, commodo volutpat est et, bibendum ornare quam. Quisque vel nibh in
                    nisi malesuada varius blandit in turpis. Nunc nec congue tortor, id consequat sem. Mauris auctor sed
                    nunc non tempus. Phasellus consequat est felis, eget egestas diam dignissim ut. Praesent ut ligula
                    nec eros vulputate commodo. Nullam at lectus a lectus pulvinar eleifend in eget sem.</p>
            </div>
        </div>
    </div>
</section>

</body>

</html>